---
import {relAssetToUrl} from '@/libs/utils'
import {toHast} from 'mdast-util-to-hast'
import {toHtml} from 'hast-util-to-html'
import ModelViewer from './model/ModelViewer.astro';
import TableXLSX from './table/TableXLSX.astro';

export interface Props {
    node: object;
    filepath: string;
}

const { node, filepath} = Astro.props as Props;

const external = node.url.startsWith('http')
console.log(`* link '${node.url}' (external:${external}) `)
let src = node.url
if(!external){
  if(!node.url.startsWith("/")){
    src = relAssetToUrl(node.url,filepath)
  }
}
const is_model3d = node.url.endsWith(".glb")
const is_table = node.url.endsWith(".xlsx")
const is_link = !is_model3d && !is_table
let title = ""
if((node.children.length>0)&&(node.children[0].type == "text")){
  title = node.children[0].value
}

---
{is_model3d &&
  <ModelViewer src={src} title={title} />
}
{is_table &&
  <TableXLSX src={node.url} title={title} filepath={filepath} />
}
{is_link &&
  <a href={src} class={`link ${external?"external":""}`} target={external?"_blank":"_self"}>
        {node.children.map((node)=>(
          <Fragment set:html={toHtml(toHast(node))}></Fragment>
        ))}
  </a>
}

<style>
a{
    color:rgb(38, 102, 166)
}
.link {
  position: relative;
  display: inline-block;
}
.external{
  margin-right: 6px;
}
.external::after {
  content: '\2197';
  position: absolute;
  top: -0.5em;  /* Adjust this value to move the arrow up or down */
  right: -0.7em;  /* Adjust this value to move the arrow left or right */
}
</style>
